/*=========================BASIC CONTENT CONTAINER=========================*/
#content-container h1 {
    font-size: 72px;
    color: white;
    text-align: center;
    font-weight: 800;
}

#content-container > h2 {
    color: white;
    font-size: 64px;
    text-align: center;
}

.title-full {
    padding: 10% 0;
}

.title-full h2 {
    font-size: 36px;
    opacity: .9;
}

#content-container.home {
    background: url('../cgi-bin/main-background.jpg') no-repeat fixed center;
    background-size: cover;
}

/*=========================FOOTER=========================*/
#footer {
    background-color: #0046b8;
    color: white;
    margin-top: 50px;
    padding: 15px 30px;
}

/*=========================SCROLL BUTTON=========================*/
.scroll-button-container {
    width: 100%;
    margin-bottom: 100px;
    margin-top: -50px;
}

.scroll-button-container p {
    text-align: center;
}

.scroll-button {
    font-size: 36px;
    padding: 22px;
    border-radius: 100%;
    color: white;
    background-color: var(--main-bg-color);
    text-align: center;
    text-decoration: none;

    transition: 500ms all;
}

.scroll-button:hover {
    color: var(--main-bg-color);
    background-color: white;
}

.top-link::after {
    content: '\25B2';
}

/*=========================SIDEBAR FOR SCROLLING=========================*/
.sidebar {
    background-color: var(--main-bg-color);
    position: absolute;
    top: 30%;
    box-shadow: 3px 10px 8px 1px rgba(0,0,0,0.75);
    display: none;
}

.sidebar-right {
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sidebar-left {
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sidebar ul {
    list-style-type: none;
    text-align: center;
    padding: 15px;
    color: white;
}

.sidebar ul li {
    padding: 24px 0;
}

.sidebar ul li a {
    padding: 10px;
    border-radius: 5px;
    transition: 500ms;
}

.sidebar ul li a:hover {
    color: var(--main-bg-color);
    background-color: white;
}

@media (orientation: landscape) {
    .sidebar {
        display: inherit;
    }
}

/*=========================SUBSECTIONS OF AREAS=========================*/
.sec-title {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

p.sec-content {
    margin: 0;
    padding: 15px 30px;
    line-height: 150%;
}

.img-link {
    font-style: italic;
    opacity: .5;
}

.sec-img-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

p.p-img {
    padding: 0 15px;
}

img.sec-img {
    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;

    margin-bottom: 10px;
}

/*=========================CARD=========================*/
.card {
    margin: 0px;
    padding: 15px;
    color: white;

    transition: 500ms;
}

.card .card-title {
    text-align: center;
}

.card .card-desc {
    padding: 10px;
}

.card.card-hoverable:hover {
    background-color: white;
    color: #424447;
}

.card-hoverable:hover h2 a {
    color: #424447;
}

/*=========================AREAS=========================*/
.area {
    background-color: rgb(66, 68, 71, .9);
    width: 100%;
    height: auto;
    padding: 25px 0px;
    color: white;

    font-size: 24px;

    margin-top: 50px;
}

.area-whole-width {
    margin-left: -50px;
    margin-right: -100px;
    width: calc(100% + 100px);
}

.area h1, .area h2, .area h3, .area h4, .area h5, .area h6, .area > p {
    padding: 0 15px;
}

.area > h2 {
    font-size: 48px;
}

.area > h3 {
    padding: 0 15px;
    text-align: center;
}

@media (orientation: landscape) {
    .area {
        padding: 50px 150px;
        width: calc(100% - 300px);
    }
}