@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,800&display=swap');

* {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		scroll-behavior: auto;
	}
}

html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: 'Saira Semi Condensed', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.area {
    background-color: #424447;
    width: calc(100% - 100px);
    height: auto;
    padding: 50px;
    color: white;

    font-size: 24px;

    margin-top: 50px;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

@media (orientation: landscape) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
    border: 10px solid white;
    color: white;

    transition: 500ms;
}

.card .card-title {
    text-align: center;
}

.card .card-desc {
    padding: 10px;
}

.card-hoverable:hover {
    background-color: white;
    color: #424447;
}

.text-muted {
    opacity: .5;
}